@tailwind base;
@tailwind components;
@tailwind utilities;

.black-page {
  background: #222831;
  color: #eeeeee;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.ease-animation {
  animation-duration: 5s;
  animation-name: ease-in-animation;
}
@keyframes ease-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
