@tailwind base;
@tailwind components;
@tailwind utilities;

.black-page {
  background: #343434;
  color: #eeeeee;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.ease-animation {
  animation-duration: 7s;
  animation-name: ease-in-animation;
}
@keyframes ease-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ghibli-animation {
  animation-duration: 2s;
  animation-name: ghibli-ease;
}
@keyframes ghibli-ease {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  font-family: "Helvetica", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
}

:hover.skill-bar-ani {
  animation: expand-rotate 500ms ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes expand-rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1.5) rotate(360deg);
  }
}

:hover.nav-bar-ani {
  animation: expand 250ms ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes expand {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

:active.nav-bar-click {
  animation: clicked 125ms ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes clicked {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  #image {
    background-size: contain; /* You can adjust this value based on your preference */
  }
}


#aboutpage {
  display: none;
  background-image: url("../images/arriety.png");
  background-image: url("../images/totoro.png");
  background-image: url("../images/howl-bed.png");
  background-image: url("../images/wind-rises.png");
  background-image: url("../images/spirit.png");

  /* import arrietyImage from "../images/arriety.png";
import totoroImage from "../images/totoro.png";
import howlBedImage from "../images/howl-bed.png";
import windRisesImage from "../images/wind-rises.png";
import spiritImage from "../images/spirit.png"; */
}
